PyQt5
addict
torch
flask
funasr
openai
pillow
pyyaml
pyaudio
datasets<3.4.0
keyboard
markdown
curl_cffi
modelscope
simplejson
torchaudio
trafilatura
expiringdict
transformers
qdrant_client
sortedcontainers
duckduckgo_search
